<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sjz.dao.NumberFDao">  
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="BaseResultMap" type="com.sjz.entity.NumberF">  
        <id column="id" property="nub_id" jdbcType="INTEGER" />  
        <result column="numberf" property="numberf" jdbcType="INTEGER" />  
    </resultMap>  
    
    <select id="selectNumberf" resultType="com.sjz.entity.NumberF">
    	select * from numberf where id=1;
    </select> 
    
    <update id="updateNumberf" parameterType="int">
    	update numberf set numberf=#{numberf}
    	where id=1
    </update>

</mapper>  